{% extends 'Home/master.html' %}
{% block content %}
    <header id="header">
        <a href="index.html" class="logo">GUOMIN</a>
    </header>
    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li class="active"><a href="/">首页</a></li>
            {% for foo in cate %}
                <li><a href="/home/cate-{{ foo.id }}.html">{{ foo.name }}</a></li>
            {% endfor %}
        </ul>
        <ul class="icons">
            <li><a href="https://github.com/yushi5344/" class="icon fa-github"><span class="label">GitHub</span></a>
            </li>
        </ul>
    </nav>
    <div id="main">
        <input type="hidden" value="{{ catename.name }}" class="catename">
        <!-- Post -->
        <section class="post">
            <header class="major">
                <span class="date">{{ article.add_time|date:'Y-m-d H:i:s' }}</span>
                <h1>{{ article.title }}</h1>
                <p>{{ article.describe }}</p>
            </header>
            <div class="image main"><img src="/{{ article.thumb }}" alt=""/></div>
            {{ article.content|safe }}
            {% if comment %}
                <hr>
                <h3>精彩评论</h3>
                {% for foo in comment %}
                    <dl>
                        <dd>
                            <blockquote>
                                <p>{{ foo.username }}　　{{ foo.add_time|date:'Y-m-d H:i:s' }}</p>
                                {{ foo.content }}
                            </blockquote>
                        </dd>
                    </dl>
                    <hr>
                {% endfor %}
            {% else %}
                <p>暂无评论</p>
            {% endif %}
            <h3>添加评论</h3>

            <form id="form-comment-add" class="alt form form-horizontal">
                {% csrf_token %}
                <input type="hidden" value="{{ article.id }}" name="a_id">
                <div class="row uniform">
                    <div class="6u 12u$(xsmall)">
                        <input type="text" name="username" id="username" value="" placeholder="用户名"/>
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input type="email" name="email" id="email" value="" placeholder="邮件"/>
                    </div>
                    <div class="12u$">
                        <textarea name="content" id="content" placeholder="请输入内容"
                                  rows="6"></textarea>
                    </div>
                    <!-- Break -->
                    <div class="12u$">
                        <ul class="actions">
                            <li><button type="submit"  class="special" id="submit">提交</button></li>
                            <li><input type="reset" id="reset" value="重置"/></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>

    </div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/js/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/js/jquery_validation/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/jquery_validation/validate-methods.js"></script>
<script type="text/javascript" src="/static/js/jquery_validation/messages_zh.js"></script>
    <script>
        $(function () {
            $('.links li').each(function (index) {
                if ($(this).children('a').text() == $('.catename').val()) {
                    $('.links li').removeClass('active');
                    $(this).addClass('active');
                }
            });
            //表单验证
            $("#form-comment-add").validate({
                rules:{
                    username:{
                        required:true,
                    },
                    email:{
                        required:true,
                    },
                    content:{
                        required:true,
                    }
                },
                onkeyup:false,
                focusCleanup:true,
                success:"valid",
                submitHandler:function(form){
                    $.ajax({
                        url:'/admin/comment_add/',
                        dataType:'json',
                        type:'POST',
                        data:$('form').serialize(),
                        success:function (data) {
                            if(data.status){
                                layer.msg(data.msg,{icon:1,time:1000});
                                $('#reset').trigger('click');
                            }else {
                                layer.msg(data.msg,{icon:5,time:1000});
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
