{% extends 'Home/master.html' %}
{% block content %}
    <!-- Intro -->
    <div id="intro">
        <h1>这是<br/>
            简易博客</h1>
        <p>利用Python的Django框架搭建 <br/>
            后端：Python 前端：jQuery +Bootstrap</p>
        <ul class="actions">
            <li><a href="#header" class="button icon solo fa-arrow-down scrolly">继续</a></li>
        </ul>
    </div>
    <!-- Header -->
    <header id="header">
        <a href="index.html" class="logo">GUOMIN</a>
    </header>
    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li class="active"><a href="/">首页</a></li>
            {% for foo in cate %}
            <li><a href="/home/cate-{{ foo.id }}.html">{{ foo.name }}</a></li>
            {% endfor %}
        </ul>
        <ul class="icons">
            <li><a href="https://github.com/yushi5344/" class="icon fa-github"><span class="label">GitHub</span></a></li>
        </ul>
    </nav>
    <!-- Main -->
    <div id="main">
        {% for foo in article %}
            {% if forloop.first %}
                <article class="post featured">
                    <header class="major">
                        <span class="date">{{ foo.add_time|date:'Y-m-d H:i:s' }}</span>
                        <h2><a href="/home/article-{{ foo.id }}-{{ foo.c_id }}.html">{{ foo.title }}</a></h2>
                        <p>{{ foo.describe }}</p>
                    </header>
                    <a href="/home/article-{{ foo.id }}-{{ foo.c_id }}.html" class="image main"><img src="/{{ foo.thumb }}" alt="{{ foo.title }}"/></a>
                    <ul class="actions">
                        <li><a href="/home/article-{{ foo.id }}-{{ foo.c_id }}.html" class="button big">Full Story</a></li>
                    </ul>
                </article>
                <section class="posts">
            {% else %}
                <article>
                    <header>
                        <span class="date">{{ foo.add_time|date:'Y-m-d H:i:s' }}</span>
                        <h2><a href="/home/article-{{ foo.id }}-{{ foo.c_id }}.html">{{ foo.title }}</a></h2>
                    </header>
                    <a href="/home/article-{{ foo.id }}-{{ foo.c_id }}.html" class="image fit"><img src="/{{ foo.thumb }}" alt="{{ foo.title }}"/></a>
                    <p>{{ foo.describe }}</p>
                    <ul class="actions">
                        <li><a href="/home/article-{{ foo.id }}-{{ foo.c_id }}.html" class="button">Full Story</a></li>
                    </ul>
                </article>
                {% if forloop.last %}
                </section>
                {% endif %}
            {% endif %}
        {% endfor %}
        <section>
            <ul class="actions" style="text-align: center">
               <li><a href="#" class="button">Gallery</a></li>
            </ul>
            {% for foo in image %}
                {% if forloop.first %}
                    <span class="image fit"><img src="/{{ foo.thumb }}" alt="{{ foo.title }}"/></span>
                    <div class="box alt">
                        <div class="row 50% uniform">
                {% else %}
                    <div
                    {% ifequal  forloop.counter0|divisibleby:3 0 %}class="4u"{% else %} class="4u$"{% endifequal %}><span class="image fit"><img src="/{{ foo.thumb }}" alt="{{ foo.title }}"/></span></div>
                    {% if forloop.last %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </section>
    </div>
{% endblock %}
{% block js %}

{% endblock %}
