{% extends 'Home/master.html' %}
{% block content %}
    <!-- Intro -->
    <div id="intro">
        <h1>这是<br/>
            简易博客</h1>
        <p>利用Python的Django框架搭建 <br/>
            后端：Python 前端：jQuery +Bootstrap</p>
        <ul class="actions">
            <li><a href="#header" class="button icon solo fa-arrow-down scrolly">继续</a></li>
        </ul>
    </div>
    <!-- Header -->
    <header id="header">
        <a href="index.html" class="logo">GUOMIN</a>
    </header>
    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li class="active"><a href="/">首页</a></li>
            {% for foo in cate %}
            <li><a href="/home/cate-{{ foo.id }}.html">{{ foo.name }}</a></li>
            {% endfor %}
        </ul>
        <ul class="icons">
            <li><a href="https://github.com/yushi5344/" class="icon fa-github"><span class="label">GitHub</span></a></li>
        </ul>
    </nav>
    <!-- Main -->
    <div id="main">
        <!-- Featured Post -->
        <article class="post featured">
            <header class="major">
                <span class="date">April 25, 2017</span>
                <h2><a href="#">And this is a<br/>
                    大图所在</a></h2>
                <p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br/>
                    facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br/>
                    amet nullam sed etiam veroeros.</p>
            </header>
            <a href="#" class="image main"><img src="/upload/屏幕截图(10).png" alt=""/></a>
            <ul class="actions">
                <li><a href="#" class="button big">Full Story</a></li>
            </ul>
        </article>
        <!-- Posts -->
        <section class="posts">
            <article>
                <header>
                    <span class="date">April 24, 2017</span>
                    <h2><a href="#">Sed magna<br/>
                        ipsum faucibus</a></h2>
                </header>
                <a href="#" class="image fit"><img src="/upload/527173_101341426675322_746307545_n.JPG" alt=""/></a>
                <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque
                    venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">Full Story</a></li>
                </ul>
            </article>
            <article>
                <header>
                    <span class="date">April 22, 2017</span>
                    <h2><a href="#">Primis eget<br/>
                        imperdiet lorem</a></h2>
                </header>
                <a href="#" class="image fit"><img src="/upload/574e9258d109b3de78d213f9ccbf6c81800a4c36.png"
                                                   alt=""/></a>
                <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque
                    venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">Full Story</a></li>
                </ul>
            </article>
        </section>
        <section>
            <ul class="actions" style="text-align: center">
               <li><a href="#" class="button">Gallery</a></li>
            </ul>
            <span class="image fit"><img src="/upload/屏幕截图(10).png" alt=""/></span>
            <div class="box alt">
                <div class="row 50% uniform">
                    <div class="4u"><span class="image fit"><img src="/upload/屏幕截图(10).png" alt=""/></span></div>
                    <div class="4u"><span class="image fit"><img src="/upload/屏幕截图(10).png" alt=""/></span></div>
                    <div class="4u$"><span class="image fit"><img src="/upload/屏幕截图(10).png" alt=""/></span></div>
                    <!-- Break -->
                    <div class="4u"><span class="image fit"><img src="/upload/屏幕截图(10).png" alt=""/></span></div>
                    <div class="4u"><span class="image fit"><img src="/upload/屏幕截图(10).png" alt=""/></span></div>
                    <div class="4u$"><span class="image fit"><img src="/upload/屏幕截图(10).png" alt=""/></span></div>
                    <!-- Break -->
                    <div class="4u"><span class="image fit"><img src="/upload/屏幕截图(10).png" alt=""/></span></div>
                    <div class="4u"><span class="image fit"><img src="/upload/屏幕截图(10).png" alt=""/></span></div>
                    <div class="4u$"><span class="image fit"><img src="/upload/屏幕截图(10).png" alt=""/></span></div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block js %}

{% endblock %}
