{% extends 'Admin/master.html' %}
{% block css %}

{% endblock %}
{% block title %}
图片列表
{% endblock %}
{% block content %}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 图片管理 <span class="c-gray en">&gt;</span> 图片列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c"> 日期范围：
		<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;" name="dateFrom">
		-
		<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}' })" id="logmax" class="input-text Wdate" style="width:120px;" name="dateTo">
		<input type="text" name="searchName" id="searchName" placeholder=" 图片名称" style="width:250px" class="input-text">
		<button name="searchbutton" id="searchbutton" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 搜图片</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
            <a class="btn btn-primary radius" onclick="picture_add('添加图片','/admin/image_add/')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加图片</a></span>
        <span class="r">共有数据：<strong>{{ count }}</strong> 条</span> </div>
	<div class="mt-20">
    每页显示：<select name="pagesizes" id="pagesize">
            <option value="1">10页</option>
            <option value="2">20页</option>
            <option value="3">30页</option>
            <option value="4">40页</option>
        </select>
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="40"><input name="" type="checkbox" value=""></th>
					<th width="80">ID</th>
					<th width="100">分类</th>
					<th width="100">封面</th>
					<th>图片名称</th>
					<th width="150">Tags</th>
					<th width="150">更新时间</th>
					<th width="60">发布状态</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
                {% for foo in image %}
                    <tr class="text-c">
                        <td><input name="" type="checkbox" value="{{ foo.id }}"></td>
                        <td>{{ foo.id }}</td>
                        <td>{{ foo.c__name }}</td>
                        <td>
                            <a href="javascript:;"
                               onClick="picture_edit('图库编辑','/admin/image_show-{{ foo.id }}','{{ foo.id }}')">
                                <img width="110" height="100" class="picture-thumb" src="\{{ foo.thumb }}">
                            </a>
                        </td>
                        <td class="text-l"><a class="maincolor" href="javascript:;" onClick="picture_edit('图库编辑','/admin/image_show-{{ foo.id }}/','{{ foo.id }}')">{{ foo.title }}</a></td>
                        <td class="text-c">{{ foo.tags }}</td>
                        <td>{{ foo.add_time }}</td>
                        <td class="td-status">
                            {% ifequal foo.status 0 %}<span class="label label-primary radius">待发布</span>{% endifequal %}
                            {% ifequal foo.status 1 %}<span class="label label-success radius">已发布</span>{% endifequal %}
                            {% ifequal foo.status 2 %}<span class="label label-warning radius">已下架</span>{% endifequal %}
                        </td>
                        <td class="td-manage">
                             {% ifequal foo.status 0 %}
                                 <a style="text-decoration:none"
                                onClick="picture_start(this,'{{ foo.id }}')"
                                href="javascript:;"
                                title="发布图片">
                                <i class="Hui-iconfont">&#xe603;</i>
                                </a>
                             {% endifequal %}
                            {% ifequal foo.status 1 %}
                                <a style="text-decoration:none"
                                onClick="picture_stop(this,'{{ foo.id }}')"
                                href="javascript:;"
                                title="下架">
                                <i class="Hui-iconfont">&#xe6de;</i>
                                </a>
                            {% endifequal %}
                            {% ifequal foo.status 2 %}
                                <a style="text-decoration:none"
                                onClick="picture_start(this,'{{ foo.id }}')"
                                href="javascript:;"
                                title="重新上架">
                                <i class="Hui-iconfont">&#xe603;</i>
                                </a>
                            {% endifequal %}
                            <a style="text-decoration:none" class="ml-5" onClick="picture_edit('图库编辑','/admin/image_edit-{{ foo.id }}','{{ foo.id }}')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
                            <a style="text-decoration:none" class="ml-5" onClick="picture_del(this,'{{ foo.id }}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                {% endfor %}
			</tbody>
		</table>
    <ul class="pagination">
            {% if image.has_previous %}
                <li class="active"><a href="?page={{image.previous_page_number}}">«</a></li>
            {% else %}
                <li class="disabled"><span>«</span></li>
            {% endif %}
            {% for pg in image.paginator.page_range %}
                {% ifequal pg  image.number %}
                <li class="active"><span>{{ pg }}</span></li>
                {% else %}
                <li><a href="?page={{pg}}">{{ pg }}</a></li>
                {% endifequal %}
            {% endfor %}
            {% if image.has_next %}
            <li><a href="?page={{image.next_page_number}}">»</a></li>
            {% else %}
                <li class="disabled"><span>»</span></li>
            {% endif %}
        </ul>
	</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/static/js/laypage/laypage.js"></script>
<script type="text/javascript">
$(function () {
    var v=$.cookie('pagesize');
    if (v!=undefined){
        $('#pagesize').val(v);
    }
    $('#pagesize').change(function(){
        var pagesize=$(this).val();
        $.cookie('pagesize', pagesize,{path:'admin/image'});
        window.location.reload();
    });
    var p=$.cookie('searchName');
    if (p!=undefined){
        $('#searchName').val(p);
    }
    var logmn=$.cookie('logmin');
    if (p!=undefined){
        $('#logmin').val(logmn);
    }
    var logmx=$.cookie('logmax');
    if (p!=undefined){
        $('#logmax').val(logmx);
    }
    $('#searchbutton').click(function () {
        var searchName=$('#searchName').val();
        var logmin=$('#logmin').val();
        var logmax=$('#logmax').val();
        $.cookie('searchName',searchName,{path:'admin/image'});
        $.cookie('logmin',logmin,{path:'admin/image'});
        $.cookie('logmax',logmax,{path:'admin/image'});
        window.location.reload();
    });
});
/*图片-添加*/
function picture_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}

/*图片-查看*/
function picture_show(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}


/*图片-下架*/
function picture_stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){
		$.ajax({
            type:'GET',
            url:'image_changestate-'+id+'-2',
            dataType: 'json',
            success:function (data) {
                if (data.status){
                    layer.msg('已下架!',{icon: 5,time:1000});
                    setTimeout(function () {
                        window.location.reload();
                    },2000);
                } else{
                    layer.msg('下架失败!',{icon: 5,time:1000});
                }
            }
        });
	});
}

/*图片-发布*/
function picture_start(obj,id){
	layer.confirm('确认要发布吗？',function(index){
		$.ajax({
            type:'GET',
            url:'image_changestate-'+id+'-1',
            dataType: 'json',
            success:function (data) {
                if (data.status){
                    layer.msg('已发布!',{icon: 6,time:1000});
                    setTimeout(function () {
                        window.location.reload();
                    },2000);
                } else{
                    layer.msg('发布失败!',{icon: 5,time:1000});
                }
            }
        });
	});
}

/*图片-编辑*/
function picture_edit(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}

/*图片-删除*/
function picture_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'GET',
			url: 'image_delete-'+id,
			dataType: 'json',
			success: function(data){
			    if(data.status){
			        $(obj).parents("tr").remove();
				    layer.msg('已删除!',{icon:1,time:1000});
                }else {
			        layer.msg('删除失败',{icon:5,time:1000});
                }
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
</script>
{% endblock %}

